body {
    background-image: url(img/bcg.jpg);  
}

a{
    text-decoration: none;
}

h1,h2{
    font-family: 'Amatic SC', cursive;
}

p{
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
}

*{
    padding: 0;
    margin: 0;
}

/* INDEX */

#indexHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 2em;
    
}

header img{
    padding: 1%;
    size: 100%;
}

#logo{
    display: flex;
    justify-content: center;
    padding: 5%;
    
}

#logo img{
    size: 110%;
}

#container1{
    height: 500px;
    background-color: #1e191a;
    color: white;
    display: flex;
    justify-content: center;
}


#inputs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 55px 15px 15px 15px;
    text-align: center;
    font-size: 25px;
}

#inputs form{
    margin-top: 15px;
}

#inputs form option, input, select{
    width: 200px;
    height: 40px;
}

#time{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 15px;
    font-size: 25px;
}

#time div{
    margin-right: 25px;
}

#reserve{
    width: 66%;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 3px solid #a88562;
    background-color: #1e191a;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    height: 50px;
}

#reserve:hover{
    width: 76%;
    transition: 1s;
    background-color: white;
    border: 3px solid white;
    color: #1e191a;
}

#login{
    height: 500px;
    margin-top: 300px;
    background-color: #a88562;
    display: flex;
    justify-content: center;
    color: #1e191a;
}

.reg{
    width: 100%;
    margin-bottom: 10px;
}

#login h1{
    font-size:55px; 
    text-align: center;
}

#reg{
    width: 100%;
    margin-top: 40px;
}

#reg:hover{
    border: 3px solid #1e191a;
    background-color: #a88562;
    transition: 1s;
    color:white;
}

#entry{
    background-color: white;
    padding: 50px;
    margin-top: 40%;
}

#about{
    display: flex;
    flex-direction: row;
}


#aboutText{
    margin-right: 15px;
}

#menu {
    background-color: #a88562;
    text-align: center;
    margin-top: 10px;
    border: 3px solid #a88562;
}

#menu a {
    color: #1e191a;
}

#menu:hover{
    border: 3px solid #1e191a;
    background-color: white;
    transition: 1s;
}

#ourmembers{
    margin-top: 30%;
    height: 80%;
    background-color: #1e191a;
    color: white;
    display: flex;
    align-items: center;
}

#chef{
    padding-right: 50px;
    padding-left: 50px;
}

#aboutUs{
    border: 3px solid white;
    width: 90%;
    text-align: center;
}

#aboutUs a {
    color: white;
}

#aboutUs:hover{
    background-color: #a88562;
    border: 3px solid #a88562;
    transition: 1.5s;
}

#indexFooter{
    height: 80%;
    background-color: #a88562;
    margin-top: 20%;
    display: flex;
    align-items: center;
    padding-bottom: 0;
}

#map{
    margin-left: 5%;
}

#location{
    width: 33%;
}

#telephones{
    width: 33%;
    margin-left: 10%;
}

#telephones img{
    width: 100px;
    height: 100px;
}

#location img{
    width: 100px;
    height: 100px;
}

/* MENU */

#menuHeader{
    display: flex;
    justify-content: center;
}

#menuPositions{
    padding: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mpa{
    color: #1e191a;
    text-align: center;
}

#menuPositions img{
    height: 300px;
    width: 300px;
    
}

#menuDescription{
    background-color: #1e191a;
    color: white;
    margin-top: 30%;
}

.mdc h1{
    text-align: center;
}

/* TEAM */

#team{
    background-color: white;
    color: #1e191a;
    margin-top: 20%;
    padding: 5%;
    display: flex;
}

.staff{
    width: 300px;
    height: 300px;
}

#members{
    margin-right: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.members1{
    margin:50px 50px 0px 50px;
    text-align: center;
}

.rows{
    display: flex;
}